<!DOCTYPE html>
<html>

<body>

<h2>AI Dataset Collector</h2>

<label>Select Object:</label>

<select id="label">
{% for c in classes %}
<option value="{{c}}">{{c}}</option>
{% endfor %}
</select>

<br><br>

<button onclick="startCamera()">Start Camera</button>
<button onclick="stopCamera()">Stop Camera</button>

<br><br>

<video id="video" width="640" height="480"
autoplay playsinline muted></video>

<br><br>

<button onclick="capture()">Capture</button>

<h3 id="counter">Captured: 0</h3>

<script src="/static/script.js"></script>

</body>
</html>